<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"/>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
<link rel="stylesheet" href="\images\css\style.css" />
    <title>Bienvenidos a Mercado Liebre </title>
</head>
<body>
    <header class="header">
        <div id="top">
        <div class="logo">
        <img src="\images\logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width= "360" />
    </div>   
        <div><form class="form">
                <input type="text" value="buscar productos, marcas"/>
                <input class="submit" type="submit"/>
                <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="cuotas">
            <p>Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i></p> 
    </div>
</div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/home">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <article class="burgermenu">
            <i class="fa fa-bars burger"></i>
        </article>
      <section class="banner">
        <img src="\images\img-home-banner.jpg" alt="Banner Mercado Libre" width="100%vw" />
      </section> 
    </header>
    <main>
       <div>
        <h3 class="titulares">Basado en tu última visita</h3>
        <section class="articulos">
        <article class="tarjeta-producto">
            <img src="\images\img-cafetera-moulinex.jpg" alt="imagen cafetera moulinex" width="360px" />
                <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40 % OFF</p>
                <p class="descripcion">Cafetera moulinex</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-macbook-pro-2019.jpg" alt="imagen Mabook" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20 % OFF</p>
                <p class="descripcion">Macbook-pro-2019x</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10 % OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5 % OFF</p>
                <p class="descripcion">Samsung Smart TV 43"</p>
            </div>
        </article>
    </section>
    <h3 class="titulares">Ofertas</h3>
    <section class="articulos">
        <article class="tarjeta-producto">
            <img src="\images\img-cafetera-moulinex.jpg" alt="imagen cafetera moulinex" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40 % OFF</p>
                <p class="descripcion">Cafetera moulinex</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-macbook-pro-2019.jpg" alt="imagen Mabook" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20 % OFF</p>
                <p class="descripcion">Macbook-pro-2019x</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10 % OFF</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </article>
        <article class="tarjeta-producto">
            <img src="\images\img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" width="360px" />
            <div class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5 % OFF</p>
                <p class="descripcion">Samsung Smart TV 43"</p>
            </div>
        </article>
    </section>
</div>
    </main>

    <footer>
<section class="pie">
            <div> 
                <i class="fas fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    </section>
    <section class="pie">
            <div class="imgpie">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
</section>
    <section class="pie">
            <div class="imgpie">
                <i class="fas fa-user-lock"></i>
                <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
</section>
<section>
         <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>

    </footer>

</body>

</html>