<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"/>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
<link rel="stylesheet" href="\images\css\style.css" />
<link rel="stylesheet" href="\images\css\login.css" />
    <title>Bienvenidos a Mercado Liebre </title>
</head>
<body>
    <header>
        <div id="top">
        <div class="logo">
        <img src="\images\logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width= "360" />
    </div>   
        <div><form class="form">
                <input type="text" value="buscar productos, marcas"/>
                <input class="submit" type="submit"/>
                <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="cuotas">
            <p>Comprá en cuotas y sin tarjeta de crédito<i class="fas fa-hand-holding-usd"></i></p> 
    </div>
</div>
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/home">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <article class="burgermenu">
            <i class="fa fa-bars burger"></i>
        </article>
      <section class="banner">
        <img src="\images\img-home-banner.jpg" alt="Banner Mercado Libre" width="100%vw" />
      </section> 
    </header>
<body>
    <main>
<section class="ingreso-usuario">
    <form action="./home.html" method="get">
    <div>
        <h1 >Login de Usuario</h1> 
            <label for="Nombre Usuari@"></label> </div>
    <div>  
    <input type="text" name="Nombre Usuari@" placeholder="Nombre Usuari@"  required>
    </div>
                <div><label for="Contraseña"></label> 
                    <input type="password" name="password" placeholder="Contraseña"  required required pattern=".{6,8}"
                    title="Contiene entre 8 y 6 caracteres" >                   
                </div>
                <div>
                    <button type="submit"  class="boton">Ingresar</button>
                    <button type="reset"  class="boton">Borrar</button>
                    </div>  
                </form>
                </section>
</div>
</main>
</body>
</html>